/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --gray: #343a40;
  --light-gray: #e9ecef;
  --orange: #e67e22;
  --white: #fff;
  --violet: #7048e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: sans-serif;
  color: var(--gray);
  font-size: 24px;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
menu,
section,
main,
aside {
  padding-top: 24px;
}

nav {
  background-color: var(--gray);
  color: var(--white);
  grid-row: 1/-1;
}

menu {
  background-color: var(--violet);
  color: var(--white);
  grid-column: 2/-1;
}

section {
  background-color: var(--light-gray);
}

aside {
  background-color: var(--light-gray);
}
