/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --gray: #343a40;
  --light-gray: #e9ecef;
  --medium-gray: #adb5bd;
  --orange: #e67e22;
  --white: #fff;
  --violet: #7048e8;
  --dark-violet: #5f3dc4;
  --pink: #d6336c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: sans-serif;
  color: var(--gray);
  font-size: 24px;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
section,
main,
aside {
  padding-top: 24px;
}

nav {
  background-color: var(--gray);
  color: var(--white);
  grid-row: 1/-1;
}

menu {
  background-color: var(--violet);
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}

section {
  background-color: var(--light-gray);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  overflow: scroll;
}

aside {
  background-color: var(--light-gray);
}

button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--dark-violet);
  border: none;
  cursor: pointer;
  color: var(--white);
  padding: 8px 12px;
}

button:last-child {
  background-color: var(--pink);
  margin-left: auto;
}

.email {
  background-color: var(--medium-gray);
  height: 96px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
