/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --green: #087f5b;
  --light-green: #099268;
  --dark-gray: #343a40;
  --light-gray: #495057;
  --number-gray: #ced4da;
  --gray: #868e96;
  --white: #fff;
  --light-teal: #e6fcf5;
  --teal: #c3fae8;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: var(--black);
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 200px;
}

.btn {
  border: 1px solid var(--green);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--green);
}

/* Without .btn:hover, the icon won't turn white unless the pointer is directly over the icon. By using the formula below, the icon turns white once the button is hovered over. */
.btn:hover .btn-icon {
  stroke: var(--white);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: var(--green);
}

.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: var(--dark-gray);
  text-decoration: none;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.page-link:hover,
.page-link:active,
/* Below is and end selector: instead of a space after .page-link, you continue with the other class, thereby combining the two classes without a space separating them. */
.page-link.page-link--current {
  background-color: var(--green);
  color: var(--white);
}

.dots {
  color: var(--dark-gray);
}
